html {
  display: flex;

  body {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
    margin-top: 3%;

    #headline {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 30%;
      margin-bottom: 1%;

      span {
        justify-content: center;
        align-items: center;
        font-family: "Exo", sans-serif;
        font-weight: 800;
        font-size: 40px;

        color: darkgray;
        text-decoration: underline solid #fec5bb 6px;
        padding: 2%;
      }
    }

    #container {
      display: flex;
      flex-direction: column;
      background-color: #fae1dd;
      width: 35%;

      align-items: center;
      padding: 2%;

      #addData {
        display: flex;
        justify-content: center;
      }

      #sorting {
        display: flex;
        justify-content: center;
        font-family: "Roboto", sans-serif;

        a {
          display: flex;
          padding: 1% 2%;
        }
      }
      #todoList {
        display: flex;
        flex-direction: row;
        background-color: #fcd5ce;
        font-family: "Roboto", sans-serif;
        width: 90%;

        #todoName {
          width: 65%;
          padding: 1% 2%;
        }
        #todoDate {
          width: 38%;
          padding: 1% 2%;
        }

        #changeTodo {
          width: 3%;
          padding: 1% 2%;
        }

        #deleteTodo {
          width: 3%;

          padding: 1% 2%;
        }
      }
      #pagination {
        font-family: "Roboto", sans-serif;
      }
    }
  }
}
