html {
  display: flex; }
  html body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 3%; }
    html body #headline {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      margin-bottom: 1%; }
      html body #headline span {
        justify-content: center;
        align-items: center;
        font-family: "Exo", sans-serif;
        font-weight: 800;
        font-size: 40px;
        color: darkgray;
        text-decoration: underline solid #fec5bb 6px;
        padding: 2%; }
    html body #container {
      display: flex;
      flex-direction: column;
      background-color: #fae1dd;
      width: 35%;
      align-items: center;
      padding: 2%; }
      html body #container #addData {
        display: flex;
        justify-content: center; }
      html body #container #sorting {
        display: flex;
        justify-content: center;
        font-family: "Roboto", sans-serif; }
        html body #container #sorting a {
          display: flex;
          padding: 1% 2%; }
      html body #container #todoList {
        display: flex;
        flex-direction: row;
        background-color: #fcd5ce;
        font-family: "Roboto", sans-serif;
        width: 90%; }
        html body #container #todoList #todoName {
          width: 65%;
          padding: 1% 2%; }
        html body #container #todoList #todoDate {
          width: 38%;
          padding: 1% 2%; }
        html body #container #todoList #changeTodo {
          width: 3%;
          padding: 1% 2%; }
        html body #container #todoList #deleteTodo {
          width: 3%;
          padding: 1% 2%; }
      html body #container #pagination {
        font-family: "Roboto", sans-serif; }
